<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'customer_home.css' %}">
    <link rel="stylesheet" href="{% static 'theme_toggle.css' %}">
</head>

<body>

<div class="top-right-controls">
    <button class="toggle-mode"></button>
    <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
</div>

<div class="customer-container">

    <h1>🍴 Explore Restaurants</h1>

    <h3>
        Welcome,
        <span>{{ username }}</span>
    </h3>

    <div class="restaurant-container">

        {% for r in restaurantList %}

        <div class="restaurant-card">

            <div class="image-box">
                <img src="{{ r.picture }}" alt="{{ r.name }}">
            </div>

            <div class="restaurant-details">

                <h2>{{ r.name }}</h2>

                <p class="cuisine">
                    🍽 {{ r.cuisine }}
                </p>

                <p class="rating">
                    ⭐ {{ r.rating }}/5
                </p>

                <a href="{% url 'view_menu' r.id username %}" class="view-btn">
                    View Menu →
                </a>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

<script>
        var options = {
            "key": "{{ rzp_test_lT6VV3Hhr4ayCQ }}",  // Razorpay API key
            "amount": "{{ total_price|floatformat:2|add:'0.00'|floatformat:2 }}00", // Amount in paisa
            "currency": "INR",
            "name": "Meal Buddy",
            "description": "Order Payment",
            "order_id": "{{ order_id }}",  // Razorpay order ID
            "handler": function (response) {
                alert("Payment Successful!");
                // Redirect to the orders page
                window.location.href = "{% url 'orders' username %}";
            },
            "prefill": {
                "name": "{{ username }}",
                "email": "customer@example.com",
                "contact": "9999999999"
            },
            "theme": {
                "color": "#528FF0"
            }
        };
        var rzp = new Razorpay(options);
    
        document.getElementById('rzp-button').onclick = function(e) {
            rzp.open();
            e.preventDefault();
        }
    </script>

</body>
</html>